.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f9ff;
}

.calculator{
    padding: 20px;
    border-radius: 10px;
    background: black;
}

.button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #404040;
    color: white;
    margin: 5px 5px;
    font-weight: bolder;
    font-size: larger;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    
}

form .display input{
    text-align: right;
    font-size: 20px;
    box-shadow: none;
    padding: 20px;
    margin: 1px;
    background-color: black;
    color: white;
    border: none;
    
}

.equal{
    width: 135px;
}